@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Sedgwick+Ave+Display&display=swap');
@import "tailwindcss";


:root {
  --background: #ffffff;
  --foreground: #171717;

  /* Theme colors */
  --primary: #4B50D1;
  --secondary: #B1A2D2;
  --accent: #D5ED86;
  --accent-dark: hsl(80, 73%, 64%);
  --tertiary: #F1FBD0;

  /*   
  --primary: #7A9F35; 
  --accent: #D5ED86;
  --secondary: #E99B3A;
  --tertiary: #FBF9F0;

  */

  /* Utilities */
  --black: #333;
  --lightBlack: #1A1A1A;
  --darkBlack: #121212;
  --darkGray: #666;
  --mediumGray: #ccc;
  --lightGray: #f7f7f7;
  --borderGray: #e0e0e0;
  --backgroundGray: #ecebeb;
  --white: #ffffff;
  --red: #F33D32;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--white);
  color: var(--black);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

a:not(svg) {
  color: var(--primary);
}

.error {
  color: var(--red);
}

.microcopy {
  color: var(--black);
  font-size: 14px;
}

.navbar {
  background: var(--primary);
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  padding: 12px 32px;
  font-size: 18px;
}

/* .navbar > a:not(.logo),
.nav-panel > a {
  
  transition: all ease-in-out 0.2s;
} */

.nav-panel > a,
.nav-panel svg {
  color: var(--black);
}

.navbar > a:not(.logo),
.navbar > button {
  color: var(--white);
  transition: all ease-in-out 0.2s;
}

.navbar > a:not(.logo):hover,
.nav-panel > a:hover,
.nav-panel svg:hover  {
  color: var(--accent);
  font-weight: 700;
}

.navbar > a.active,
.nav-panel > a.active {
  color: var(--accent);
}

.logo {
  color: var(--accent);
  font-family: 'Sedgwick Ave Display', cursive;
  text-shadow: 4px 0 var(--secondary);
  font-size: 64px;
  font-weight: 700;
}

.nav-panel {
  background: var(--white);
  padding: 64px 32px;
}

footer {
  background: var(--primary);
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  padding: 64px 32px;
}

footer svg {
  width: 24px;
  height: 24px;
  color: var(--white);
}

.form {
  background: var(--white);
  border: 1px solid var(--tertiary);
  box-shadow: 0 10px 20px rgba(0,0,0, 0.3);
}

.form > h1 {
  font-size: 32px;
  font-weight: bold;
  padding-bottom: 24px;
  color: var(--darkBlack);
}

.form > h1:has(+ p) {
  padding-bottom: 0;
}

.field-wrap {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: start;
}

.field-wrap > label {
  font-weight: bold;
  color: var(--lightBlack);
}

.field-wrap > input {
  width: 100%;
  border-bottom: 1px solid;
  border-color: var(--darkGray);
  color: var(--darkBlack);
  outline: none;
  transition: border ease-in-out 0.3s;
}

.field-wrap > input:-webkit-autofill,
.field-wrap > input:-webkit-autofill,
.field-wrap > input:-webkit-autofill:hover, 
.field-wrap > input:-webkit-autofill:focus, 
.field-wrap > input:-webkit-autofill:active {
  -webkit-background-clip: text;
  -webkit-text-fill-color: var(--darkBlack);
  transition: background-color 5000s ease-in-out 0s, border ease-in-out 0.3s;
  box-shadow: inset 0 0 20px 20px var(--white);
}

.field-wrap > input::placeholder,
.field-wrap > select {
  color: var(--black);
}

.field-wrap > select option {
  color: var(--black);
}

.field-wrap > input:focus,
.field-wrap > select:focus {
  border-color: var(--primary);
}

.field-wrap > select {
  border-bottom: 1px solid;
  border-color: var(--mediumGray);
  color: var(--);
  width: 100%;
  outline: none;
}

.field-wrap + .field-wrap {
  padding-top: 24px;
}

.highlight {
  color: var(--primary);
}

.btn {
  padding: 12px 24px;
  border-radius: 24px;
  background: var(--lightGray);
  box-shadow: 0 2px 5px rgba(0,0,0,0.4);
  display: block;
  font-weight: bold;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  cursor: pointer;
}

.btn.active,
.btn:hover {
  background: var(--primary);
  color: var(--accent);
}

.credits {
  color: var(--lightGray);
  transition: all ease-in-out 0.2s;
  user-select: none;
}

.credits:hover {
  color: var(--secondary);
}

.credits > a {
  color: var(--accent);
}

.toast {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
}

.toast-msg {
  padding: 12px;
  background: var(--darkBlack);
  text-align: center;
  border-radius: 12px;
}

@media only screen and (max-width: 910px) {
  
}